<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <% if (username) { %>
        <p>Hello <%= username %></p>
        <a href="/logout">Logout</p>
    <% } else { %>
        <a href="/login">Login</p>
    <% } %>
  </body>
</html>
